#map {
  height: 400px;
  width: 400px;
  display: inline-block;
}
/* Optional: Makes the sample page fill the window. */
html{
  background-image: url(../img/bg.png);
  background-repeat: repeat;
}
html, body {
  height: 100%;
  margin: auto 10%;
  padding: 0;
  font-family: sans-serif;

}
.track-thumbnail{
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
}
.tracklist{
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  background-color: #d5dce8;
  display: inline-block;
  font-size: 20px;
}
.tracklist li:hover{
  background-color: grey;
}

.tracklist li{
  padding: 10px;
}

.track-score{
  border-radius: 15%;
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
  color: white;
}

.weather-info{
  display: inline-block;
  background-color: lightgrey;
  border-radius: 15%;
  padding: 5px;
  margin: 0 5px;
  color: white;
}
.weather-info.hidden{
  display: none;
}
.weather-button{

}

.green{
  background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
