$text: #0F110F;
$black: #000000;

$tan: #B1A664;
$lightTan:#DFD285;
$darkTan:#93894B;

$green: #B6F890;
$lightGreen: #E9FFD6;

$red: #ff9190;

$sm: 33.75em;
$md: 45em;
$lg: 60em;

@import 'fonts';
@import 'typography';
@import 'common';
@import 'simple-grid';
@import 'navigation';
@import 'footer';


body{
  min-width: 320px;
  main::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;

    transform: scale(1.1);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .noblur::before{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
  .page{
    min-height: 100vh;

    padding: 0;
    margin: 0;
    opacity: 0;
    display: none;

    &.active{
      -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
      animation: fadein 0.5s;

      opacity: 1;
      display: block;
    }

    .container{
      padding-top: 4em;
    }
  }
}


@media screen and (min-width: $lg){

  .bg1::before{
    background-image: url('../../img/backgrounds/large/bg1.jpg');

  }
  .bg2::before{
    background-image: url('../../img/backgrounds/large/bg2.jpg');
  }
  .bg3::before{
    background-image: url('../../img/backgrounds/large/bg3.jpg');
  }
  .bg4::before{
    background-image: url('../../img/backgrounds/large/bg4.jpg');
  }
  .bg5::before{
    background-image: url('../../img/backgrounds/large/bg5.jpg');
  }
  .bg6::before{
    background-image: url('../../img/backgrounds/large/bg6.jpg');
  }
  .bg7::before{
    background-image: url('../../img/backgrounds/large/bg7.jpg');
  }
  .bg8::before{
    background-image: url('../../img/backgrounds/large/bg8.jpg');
  }
  .bg9::before{
    background-image: url('../../img/backgrounds/large/bg9.jpg');
  }
}

@media screen and (max-width: $lg) and (min-width: $md){

  .bg1::before{
    background-image: url('../../img/backgrounds/medium/bg1.jpg');
  }
  .bg2::before{
    background-image: url('../../img/backgrounds/medium/bg2.jpg');
  }
  .bg3::before{
    background-image: url('../../img/backgrounds/medium/bg3.jpg');
  }
  .bg4::before{
    background-image: url('../../img/backgrounds/medium/bg4.jpg');
  }
  .bg5::before{
    background-image: url('../../img/backgrounds/medium/bg5.jpg');
  }
  .bg6::before{
    background-image: url('../../img/backgrounds/medium/bg6.jpg');
  }
  .bg7::before{
    background-image: url('../../img/backgrounds/medium/bg7.jpg');
  }
  .bg8::before{
    background-image: url('../../img/backgrounds/medium/bg8.jpg');
  }
  .bg9::before{
    background-image: url('../../img/backgrounds/medium/bg9.jpg');
  }

}


@media screen and (max-width: $md){

  .bg1::before{
    background-image: url('../../img/backgrounds/small/bg1.jpg');
  }
  .bg2::before{
    background-image: url('../../img/backgrounds/small/bg2.jpg');
  }
  .bg3::before{
    background-image: url('../../img/backgrounds/small/bg3.jpg');
  }
  .bg4::before{
    background-image: url('../../img/backgrounds/small/bg4.jpg');
  }
  .bg5::before{
    background-image: url('../../img/backgrounds/small/bg5.jpg');
  }
  .bg6::before{
    background-image: url('../../img/backgrounds/small/bg6.jpg');
  }
  .bg7::before{
    background-image: url('../../img/backgrounds/small/bg7.jpg');
  }
  .bg8::before{
    background-image: url('../../img/backgrounds/small/bg8.jpg');
  }
  .bg9::before{
    background-image: url('../../img/backgrounds/small/bg9.jpg');
  }

}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

//swiss map styles
#map{
  width: 90%;
  max-width: 650px;
  margin: auto;
  .st0,.st1{
    fill: white;
    stroke: $green;
    stroke-width: 2;
    opacity: 0.9;

    &:hover{
      fill: white;
      opacity: 1;
      cursor: pointer;
    }
  }
    //hide circles around cities
    //circle{display: none;}
    .st0{stroke-miterlimit:10;}
    .st2{opacity:0.87;}
    .st3{fill:#BDDCE8;}
    //hide names of cantons
    //.st4{display: none;}
    .st5{display:inline;}
    .st6{font-family:'Roboto-Medium'}
    .st7{font-size:20px;}
    .st8{font-size:10px;}

    .selected{
      fill: $lightGreen !important;
    }
}

#it-map {
  height: 400px;
  width: 100%;
  a{
    font-size: 10px;
  }
}

#mount-slider{
  img{
    max-width: 100%;
    width: 40%;
  }
  span{
  }

}

.slide-tooltip{
  .arrow_triangle-up{
    vertical-align: middle;
  }
}

.white-container{
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 5%;
}

.accordian{
  width: 100%;
  &>*{
    font-family: 'Roboto-SemiBold';
  }
  .ac-head{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 2% 3%;
    display: table;
    width: 100%;
    text-align: left;
    margin-top: 2%;
    cursor: pointer;
    &:first-of-type{
      margin-top: 0px;
    }
    &>*{
      display: table-cell;
      vertical-align: middle;
    }
    .score{
      display: inline-block;
      height: 60px;
      width: 60px;
      line-height: 60px;
      border-radius: 50%;
      text-align: center;
      font-weight: bolder;

      &.red{
        background-color: $red;
      }
      &.orange{
        background-color: orange;
      }
      &.green{
        background-color: $green;
      }
    }

    .toggle-icon{
      text-align: right;
      font-size: 2em;
    }

  }
  .ac-body{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 2% 3%;
    display: none;

  }
}

.weather{
  .weather-icon{
    display: block;
    margin: auto;
  }
  .weather-temp{
    display: block;
    font-size: 1.2em;
  }
}

.spinner{
  display: block;
  margin: auto;
  color: $black;
  width: 30px;
  height: 30px;
  font-size: 2em;
  -webkit-transform-origin: 50% 58%;
  transform-origin:50% 58%;
  -ms-transform-origin:50% 58%; /* IE 9 */
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.name-box{
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-family: 'Roboto-Medium', sans-serif;
  padding: 1% 0.5%;
  margin: 2% 0;
  border-radius: 5px;
  width: 50%;
  font-size: 1.1em;
}
.user-box{
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  min-height: 120px !important;
  padding: 2% 0;
  position: relative;
  cursor: pointer;
  .icon_close{
    z-index: 5;
    position: absolute;
    top: -6%;
    right: -3%;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    background-color: $tan;
    border-radius: 50%;
    &:hover{
      background-color: $darkTan;
    }
  }
  .initials{
    margin: 15% auto;
    width: 80px;
    height: 80px;
    background-color: $green;
    border-radius: 50%;
    overflow: hidden;
    span{
      text-transform: uppercase;
      color: white;
      font-size: 1.5em;
      line-height: 80px;
      white-space: nowrap;
    }
  }
}
